body {
  background: #111;
  color: white;
  font-family: Arial;
  text-align: center;
}

nav a {
  margin: 10px;
  color: yellow;
}

input, button, textarea {
  margin: 5px;
  padding: 10px;
}

#chatBox {
  border: 1px solid white;
  height: 250px;
  overflow-y: scroll;
  margin: 10px;
}

textarea {
  width: 80%;
  height: 100px;
}